.timeline-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
}

.timeline-canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: grab;
  touch-action: none;
}

.timeline-canvas:active {
  cursor: grabbing;
}
